##PINLOCK_BEGIN

#NET "s_clk_75mhz"	period = 75 MHz ;	#

NET	i_clk_100mhz				LOC = R7		|	IOSTANDARD = LVCMOS33;	#
NET	io_led0						LOC = B2		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

NET	io_uart_txd					LOC = M12	| IOSTANDARD = LVCMOS33 ;	#	| DIFF_TERM = FALSE | IOSTANDARD = LVDS_33;
NET	io_uart_rxd					LOC = M11	| IOSTANDARD = LVCMOS33 ;	#	| DIFF_TERM = FALSE | IOSTANDARD = LVDS_33;

NET	io_fx3_PCLK					LOC = H4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_CLKp
NET	io_fx3_resetn				LOC = P5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_CLKn
NET	io_fx3_DQ<19>				LOC = M4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp13
NET	io_fx3_DQ<22>				LOC = M3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn15
NET	io_fx3_DQ<25>				LOC = M5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn16
NET	io_fx3_DQ<26>				LOC = N4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn18
NET	io_fx3_DQ<24>				LOC = R2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp19
NET	io_fx3_DQ<29>				LOC = R1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn17
NET	io_fx3_DQ<27>				LOC = P2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp18
NET	io_fx3_DQ<30>				LOC = P1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn19
NET	io_fx3_DQ<31>				LOC = N3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp17
NET	io_fx3_DQ<21>				LOC = N1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp14
NET	io_fx3_DQ<16>				LOC = M2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn12
NET	io_fx3_DQ<18>				LOC = M1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn13
NET	io_fx3_DQ<17>				LOC = L1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp12
NET	io_fx3_DQ<28>				LOC = K1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp16
NET	io_fx3_DQ<5>				LOC = H2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn1
NET	io_fx3_DQ<1>				LOC = H1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp1
NET	io_fx3_DQ<15>				LOC = G3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp0
NET	io_fx3_DQ<4>				LOC = G1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp2
NET	io_fx3_DQ<2>				LOC = H3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn0
NET	io_fx3_DQ<20>				LOC = L4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn14
NET	io_fx3_DQ<23>				LOC = L5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp15
NET	io_fx3_DQ<7>				LOC = E2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp3
NET	io_fx3_DQ<11>				LOC = E1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp7
NET	io_fx3_DQ<0>				LOC = C2		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn2
NET	io_fx3_DQ<3>				LOC = D3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn3
NET	io_fx3_DQ<12>				LOC = D1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn6
NET	io_fx3_DQ<10>				LOC = C1		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp5
NET	io_fx3_DQ<6>				LOC = G5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn4
NET	io_fx3_DQ<9>				LOC = F4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp4
NET	io_fx3_DQ<8>				LOC = F3		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn5
NET	io_fx3_DQ<13>				LOC = F6		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn7
NET	io_fx3_DQ<14>				LOC = F5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp6
NET	io_fx3_CTL12_GP29_A0_FV	LOC = K5		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn10
NET	io_fx3_CTL11_GP28_A1_LV	LOC = K6		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp8

NET	io_fx3_spi_miso_uart_tx	LOC = L8		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dn20
NET	io_fx3_spi_mosi_uart_rx	LOC = P4		| IOSTANDARD = LVCMOS33	| OUT_TERM = UNTUNED_25;#	| PULLDOWN	| SLEW = FAST	| DRIVE = 4;	#io_OI1_Dp20

